In [5]:
a=1
b=c=a
print(a)
print(b)
print(c)

1
1
1

In [7]:
a='01246578abcd'
print(a[0])
print(a[3])
print(a[5:-3])

0
4
578a

In [8]:
print("my name is 'rz'")

my name is 'rz'

In [11]:
a='hello world'
print(len(a))
b='hello world, I am oxxo, how are you!'
c=b.split(',')
d=b.split(' ')
e=b.split()
print(b)
print(c)
print(d)
print(e)

11
hello world, I am oxxo, how are you!
['hello world', ' I am oxxo', ' how are you!']
['hello', 'world,', 'I', 'am', 'oxxo,', 'how', 'are', 'you!']
['hello', 'world,', 'I', 'am', 'oxxo,', 'how', 'are', 'you!']

In [13]:
a=['apple','banana','orange']
b=[1,2,3,4,5]
c=['apple',1,2,3,['dog','cat']]
d=list('apple')
print(a,b,c,d)

['apple', 'banana', 'orange'] [1, 2, 3, 4, 5] ['apple', 1, 2, 3, ['dog', 'cat']] ['a', 'p', 'p', 'l', 'e']

In [14]:
a=dict(name='oxxo',age=18,eat=['apple,banana'])
print(a)
print(type(a))

{'name': 'oxxo', 'age': 18, 'eat': ['apple,banana']}
<class 'dict'>

In [23]:
a=2
b=3
if a>b:
  print('true')
print('false')

false

In [28]:
a=2
b=3
if a<b:
  print('a<b')
  if a==1:
    print('a=1')
  elif a==2:
      print('a=2')
  elif a==3:
      print('a=3')
elif a>b:
  print('a>b')
else:
  print('a=b')
print('ok')

a<b
a=2
ok

In [30]:
for a in['x','y','z']:
  for b in[1,2,3]:
    print(b)
  print(a)

1
2
3
x
1
2
3
y
1
2
3
z

In [31]:
for a in['x','y','z']:
  for b in[1,2,3]:
    print(f'{a}{b}')

x1
x2
x3
y1
y2
y3
z1
z2
z3

In [37]:
try:
  a=input("Enter Number")
  print(a+1)
except:
  pass
print('hello')

Enter Number98
hello

In [38]:
a=[]
for i in range(1,10):
  a.append(i*1)
print(a)

b=[j*j for j in range(1,10)]
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 9, 16, 25, 36, 49, 64, 81]